*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-image: url("images/restaurant\ 1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}



.image_container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.image_container img{

}
/* 
.home_page_text{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
   
} */

.container h1{
    position: absolute;
    width: fit-content;
    height: 75px;
    left: 344px;
    top: 288px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;

    color: #FFFFFF;

    
}

.container h1 span{
    font-weight: bold;
}

.container p{
    position: absolute;
    width: 822px;
    height: 62px;
    left: 340px;
    top: 412px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;

}

.menu_btn{
    position: absolute;
    width: 150px;
    height: 60px;
    left: 580px;
    top: 500px;
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.25s;
}

.cart_btn{
    position: absolute;
    width: 150px;
    height: 60px;
    left: 740px;
    top: 500px;
    border: none;
    background: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.25s;
}

.cart_btn:hover, .menu_btn:hover{
     background-color: transparent;
     border: 2px solid white;
     color: white;
}
.cart_btn a:hover, .menu_btn a:hover{
    color: white;
}

.cart_btn a, .menu_btn a{
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height */

    text-decoration: none;
    text-transform: uppercase;
    color: #000000;

}


/* Media Queries */


@media (max-width:1440px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 280px;
        top: 288px;
        font-size: 60px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 822px;
        height: 62px;
        left: 276px;
        top: 412px;
        font-weight: 400;
        font-size: 22px;
        line-height: 31px;
    }


        
    .menu_btn{
        width: 150px;
        height: 60px;
        left: 500px;
        top: 500px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 60px;
        left: 660px;
        top: 500px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
}




@media (max-width:1340px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 220px;
        top: 288px;
        font-size: 60px;
        line-height: 75px;
    
        
    }

    
    .container p{
        width: 822px;
        height: 62px;
        left: 220px;
        top: 412px;
        font-weight: 400;
        font-size: 22px;
        line-height: 31px;
    }


        
    .menu_btn{
        width: 150px;
        height: 60px;
        left: 480px;
        top: 500px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 60px;
        left: 640px;
        top: 500px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
}


@media (max-width:1260px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 180px;
        top: 288px;
        font-size: 60px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 822px;
        height: 62px;
        left: 180px;
        top: 412px;
        font-weight: 400;
        font-size: 22px;
        line-height: 31px;
    }


        
    .menu_btn{
        width: 150px;
        height: 60px;
        left: 440px;
        top: 500px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 60px;
        left: 600px;
        top: 500px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
}



@media (max-width:1150px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 140px;
        top: 288px;
        font-size: 60px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 822px;
        height: 62px;
        left: 140px;
        top: 412px;
        font-weight: 400;
        font-size: 22px;
        line-height: 31px;
    }


        
    .menu_btn{
        width: 150px;
        height: 60px;
        left: 400px;
        top: 500px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 60px;
        left: 560px;
        top: 500px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
}



@media (max-width:1080px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 100px;
        top: 288px;
        font-size: 54px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 822px;
        height: 62px;
        left: 84px;
        top: 412px;
        font-weight: 400;
        font-size: 22px;
        line-height: 31px;
    }


        
    .menu_btn{
        width: 150px;
        height: 60px;
        left: 350px;
        top: 500px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 60px;
        left: 510px;
        top: 500px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
}



@media (max-width:948px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 100px;
        top: 288px;
        font-size: 50px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 822px;
        height: 62px;
        left: 30px;
        top: 412px;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
    }


        
    .menu_btn{
        width: 150px;
        height: 60px;
        left: 310px;
        top: 500px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 60px;
        left: 494px;
        top: 500px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
}


@media (max-width:868px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 80px;
        top: 250px;
        font-size: 48px;
        line-height: 75px;
    
        
    }

    .container p{
        left: 80px;
        top: 360px;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        width: 622px;
        height: 62px;
    }


        
    .menu_btn{
        width: 150px;
        height: 50px;
        left: 240px;
        top: 460px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 50px;
        left: 404px;
        top: 460px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
    
}


@media (max-width:810px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 70px;
        top: 240px;
        font-size: 46px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 822px;
        height: 62px;
        left: 80px;
        top: 340px;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        width: 622px;
        height: 62px;
    }


        
    .menu_btn{
        width: 150px;
        height: 50px;
        left: 210px;
        top: 440px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 50px;
        left: 370px;
        top: 440px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
}



@media (max-width:748px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 50px;
        top: 240px;
        font-size: 44px;
        line-height: 75px;
    
        
    }

    .container p{
        width: fit-content;
        height: 62px;
        left: 50px;
        top: 340px;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        width: 622px;
        height: 62px;
    }


        
    .menu_btn{
        width: 150px;
        height: 50px;
        left: 200px;
        top: 440px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 50px;
        left: 360px;
        top: 440px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
}


@media (max-width:694px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 40px;
        top: 240px;
        font-size: 42px;
        line-height: 75px;
    
        
    }

    .container p{
        width: fit-content;
        height: 62px;
        left: 20px;
        top: 340px;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        width: 622px;
        height: 62px;
    }


        
    .menu_btn{
        width: 150px;
        height: 50px;
        left: 180px;
        top: 440px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 50px;
        left: 340px;
        top: 440px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
}


@media (max-width:648px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 30px;
        top: 240px;
        font-size: 40px;
        line-height: 75px;
    
        
    }

    .container p{
        width: fit-content;
        height: 62px;
        left: 10px;
        top: 340px;
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
        height: 62px;
    }


        
    .menu_btn{
        width: 150px;
        height: 40px;
        left: 170px;
        top: 440px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 40px;
        left: 330px;
        top: 440px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
    
}


@media (max-width:618px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 24px;
        top: 240px;
        font-size: 40px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 500px;
        height: 62px;
        left: 40px;
        top: 320px;
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
        height: 62px;
    }


        
    .menu_btn{
        width: 150px;
        height: 40px;
        left: 150px;
        top: 430px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 40px;
        left: 310px;
        top: 430px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
    
}


@media (max-width:598px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 24px;
        top: 240px;
        font-size: 38px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 500px;
        height: 62px;
        left: 40px;
        top: 320px;
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
        height: 62px;
    }


        
    .menu_btn{
        width: 150px;
        height: 40px;
        left: 150px;
        top: 430px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 40px;
        left: 310px;
        top: 430px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
}

@media (max-width:568px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 24px;
        top: 240px;
        font-size: 36px;
        line-height: 75px;
    
        
    }

    .container p{
        width: 420px;
        left: 40px;
        top: 320px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }


        
    .menu_btn{
        width: 150px;
        height: 40px;
        left: 110px;
        top: 430px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 40px;
        left: 270px;
        top: 430px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    
}

@media (max-width:540px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 24px;
        top: 240px;
        font-size: 34px;
        line-height: 25px;
    
        
    }

    .container p{
        width: 420px;
        left: 36px;
        top: 320px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }


        
    .menu_btn{
        width: 150px;
        height: 40px;
        left: 102px;
        top: 430px;
    }

    .cart_btn{
        position: absolute;
        width: 150px;
        height: 40px;
        left: 262px;
        top: 430px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }
    

}


@media (max-width:420px) {

    .container h1{
        position: absolute;
        width: fit-content;
        height: 75px;
        left: 30px;
        top: 230px;
        font-size: 24px;
        line-height: 25px;
    
        
    }

    .container p{
        width: 350px;
        left: 14px;
        top: 300px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
       
    }


        
    .menu_btn{
        width: 130px;
        height: 40px;
        left: 60px;
        top: 430px;
    }

    .cart_btn{
        position: absolute;
        width: 130px;
        height: 40px;
        left: 200px;
        top: 430px;
        border: none;
        background: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.25s;
    }

    .cart_btn a, .menu_btn a{
    
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 38px;
        /* identical to box height */
    
        text-decoration: none;
        text-transform: uppercase;
        color: #000000;
    
    }
    
    
    
}